.title {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  &_assistance {
    text-align: left;
    color: #fff;
    line-height: 1.2;
  }
  &_catalog {
    font-size: 30px;
  }
  &_feedback {
    font-size: 30px;
  }
}
