@import "../base/mixins";
@import "../base/variables";
@import "promo";
@import "header";
@import "button";
@import "advantages";
@import "title";
@import "information";
@import "assistance";
@import "product";
@import "carousel";
@import "catalog";
@import "catalog-item";
@import "feedback";
@import "map";
@import "overlay";
@import "modal";
@import "../base/animate";
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  flex-direction: column;
  display: flex;
  max-width: 950px;
  margin: 0 auto;
}
@import "../base/media";
